/***************** standard tags ***************/

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    font-family: Roboto, sans-serif;
}

input,
textarea {
    outline: none;
    font-family: Roboto, sans-serif;
}

input [type="submit"],
input [type="button"],
textarea {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

a {
    outline: none;
}

strong,
b {
    font-family: PTSans-Bold, sans-serif;
}


/*************** fonts *************************/

@font-face {
    font-family: FontAwesome;
    src: local("PT Sans"), url("fonts/FontAwesome.otf");
}

@font-face {
    font-family: PTSans;
    src: local("PT Sans"), url("fonts/PTSans/PTSans-regular.ttf");
}


/***************** basic elements ********************/

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.close_button {
    float: right;
    text-decoration: none;
    font-size: 0.75em;
    cursor: pointer;
}


/************** general layout ****************************/

.container {
    width: 100%;
    min-height: 100%;
    background: #202020;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 20px 2%;
    background: #000;
    box-sizing: border-box;
    z-index: 1;
}

.logoLink {
    text-decoration: none;
}

.logoLink .logoImage {
    height: 24px;
}


/************** message box ******************************/

.messageBox {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 726px;
    max-width: 90%;
    background: rgb(24, 26, 27);
    border-radius: 15px;
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.05);
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
}

.messageBox_warning {
    box-shadow: 1px 1px 8px 2px rgba(227, 66, 54, 0.3);
}

.messageBox__title {
    text-align: center;
    padding-bottom: 20px;
}

.messageBox__title_warning {
    color: #E34236;
}

.messageBox__framedBox {
    border-radius: 5px;
    padding: 15px;
}

.messageBox__text_centered {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
    color: #797979;
}

.messageBox__text_centered a {
    color: #ff7b4f;
}

.messageBox__textForDomainOwner {
    width: 80%;
    color: #c9c9c9;
    font-size: 0.875em;
    text-align: center;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 22px;
    left: 0;
    right: 0;
}


/************** ads block ********************************/

.productBlock {
    margin-top: 10px;
    text-align: center;
}

.productBlock__mainButton_secondary {
    display: inline-flex;
    margin: 22px auto 0;
    padding: 0 16px;
}


/*************** text box *********************************/

.textBox {
    border: 1px solid #e4e4e4;
    color: #333;
    font-size: 1em;
    padding: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
}

.textBox:focus {
    border: 1px solid #999;
    box-shadow: 0 0 3px #999 !important;
}

.textBox:disabled {
    border: 1px solid #e4e4e4;
    background: #f2f2f2;
}

.textBox:required {
    box-shadow: none;
}


/*************** buttons *********************************/

.mainButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.mainButton_primary {
    color: #fff;
    background-color: #33d6a3;
    border: 1px solid #33d6a3;
}

.mainButton_primary:hover {
    background-color: #1bb584;
    border: 1px solid #1bb584;
}

.mainButton_secondary {
    color: #fff;
    background-color: #ff7b4f;
    border: 1px solid #ff7b4f;
}

.mainButton_secondary:hover {
    background-color: #f56434;
    border: 1px solid #f56434;
}

.mainButton_cancel {
    color: #999;
    background-color: transparent;
    border: 1px solid #999;
}

.mainButton_cancel:hover {
    color: #333;
    border: 1px solid #333;
}


/************* links *************************************/

.mainLink {
    color: #33d6a3;
}

.mainLink:hover {
    color: #1bb584;
}


/************** error message *****************************/

.error_message {
    height: 20px;
    font-size: 0.875em;
    color: #E34236;
}


/************** highlighted elements *********************/

.URLstring {
    color: #33d6a3;
}


/*************** link password page ***********************/

.linkPasswordForm {}

.linkPasswordForm__caption {
    font-size: 1.25em;
    line-height: 2em;
    text-align: center;
}

.linkPasswordForm__textBox {
    width: 100%;
    margin: 35px 0 3px;
}

.linkPasswordForm__mainButton_primary {
    padding: 0 35px;
    margin: 20px auto 0;
}


/**************** cloaking page ******************/

.cloakingErrorMessage {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0 35px;
}

.cloakingErrorMessage__text {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2.5em;
}

.cloakingErrorMessage__text_heading1 {
    font-size: 1.25em;
}


/******************** hidereferer page ***************/

.hiderefererMessage__text {
    line-height: 1.5em;
    padding-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hiderefererMessage__instruction {
    padding-top: 15px;
}


/**************** upgrade account page ***************/

.upgradeRequirementMessage__title {
    padding-bottom: 20px;
}

.upgradeRequirementMessage__text {
    text-align: justify;
}

.upgradeRequirementMessage__framedText {
    text-align: justify;
    margin: 15px 0 25px;
}

.upgradeRequirementMessage__mainButton_primary {
    width: 250px;
    margin: 0 auto;
}


/****************** domain main page *****************/

.domainMainPageMessage {
    text-align: center;
}

.domainMainPageMessage__domain_name {
    /*color: #1bb584;*/
    font-size: 29px;
    margin-top: 23px;
    font-weight: 300;
    text-align: center;
}

.domainMainPageMessage__mistakeText {
    margin-bottom: 15px;
}

.domainMainPageMessage__framedText {
    margin-top: 30px;
    text-align: center;
}

.domainMainPageMessage__text {
    width: 80%;
    margin: 0 auto;
    font-size: 0.875em;
    padding-bottom: 30px;
    color: #797979;
}

.shortenerComparison {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 25px;
}

.shortenerComparison__option {
    width: 150px;
    font-size: 0.75em;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shortenerComparison__option_lame {
    background: #CFCFCF;
    padding-right: 5px;
}

.shortenerComparison__option_awesome {
    background: #33D6A3;
    padding-left: 5px;
}

.shortenerComparison__divider {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    color: #797979;
    background: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 42px;
    margin: 0 -17px;
    z-index: 1;
}

.wantYourOwn {
    font-weight: 400;
    margin-top: 6px;
    font-size: 17px;
}